html{
	scroll-behavior: smooth;
}


body{
	margin: 0;
	padding: 0;
    background-color: bisque;
}


.nav_bar{
	padding-bottom: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: white;
	background-color: rgb(137, 0, 225);
	/* border-bottom: 1px solid black; */
}


#ico{
	position: absolute;
	top: 2%;
	left: 10px;
}


.button{
	position: relative;
	left: 65%;
	top: 25px;
	padding: 5px;
	border: 1px solid black;
	width: 10%;
	height: 60px;
	background-color: violet;
	color: white;
}

.header{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
	color: whitesmoke;
	background-color: rgb(137, 0, 225);
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}


.intro{
    padding-left: 1%;
	font-size: 16px;
	color: black;
    text-align: left;
	align-items: center;
	display: flex;
}


.text_intro{
	position: relative;
	max-width: 50%;
}


#cover_image{
	position: relative;
	max-width: 50%;
	padding-left: 10px;
}


#dim{
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	opacity: 0.6;
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: 2;
}


.video{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: grey;
}


#video{
	position: relative;
	left: 25%;
	z-index: 3;
}


.image_carousel{
	text-align: center;
	max-height: 420px;
	position: relative;
}


.image_carousel img{
	position: relative;
	max-height: 420px;
	max-width: 50%;
}


.nav_arrow{
	font-size: large;
	font-weight: bold;
	color: white;
	padding: 12px;
	transition: 0.4s ease;
	position: absolute;
	z-index: 1;
}


#previous{
	top: 45%;
	float: left;
}
#next{
	top: 45%;
	float: right;
	right: 25%;
}


#previous:hover, #next:hover{
	background-color: rgb(86, 0, 126);
}


.footer{
	text-align: center;
	color: white;
	background-color: rgb(137, 0, 225);
	margin: 0;
	padding: 20px;
}


h1,.h1, h3, p{padding: 0; margin: 0;}