html{
	scroll-behavior: smooth;
}


body{
	margin: 0;
	padding: 0;
    background-color: bisque;
}


.nav_bar{
	padding-bottom: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: white;
	background-color: rgb(137, 0, 225);
	/* border-bottom: 1px solid black; */
}


#ico{
	position: absolute;
	top: 2%;
	left: 20px;
}


.button{
	position: relative;
	left: 65%;
	top: 25px;
	padding: 5px;
	border: 1px solid black;
	width: 10%;
	height: 60px;
	background-color: violet;
	color: white;
}

.header{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
	color: whitesmoke;
	background-color: rgb(137, 0, 225);
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}


.intro{
	padding-top: 20px;
    /* padding-left: 25px; */
	font-size: 16px;
	color: black;
    text-align: left;
}


.text_intro{
	position: absolute;
	top: 50%;
	left: 3%;
	width: 40%;
}


#cover_image{
	position: relative;
	left: 47%;
	width: 50%;
}


#dim{
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	opacity: 0.6;
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.video{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: grey;
}


#video{
	position: relative;
	left: 25%;
	z-index: 1;
}


.image_carousel{
	text-align: center;
	height: 420px;
}

.image_carousel img{
	position: absolute;
	top: 1930px;
	left: 25%;
	height: 420px;
	width: 50%;
}

.footer{
	text-align: center;
	color: white;
	background-color: rgb(137, 0, 225);
	margin: 0;
	padding: 20px;
}


h1,.h1{padding: 0; margin: 0;}
p{margin: 0; padding: 0;}